<div class="w-container">
    <div class="w-grid">
        <div class="w-field-wrap w-term">
            <span class="w-field-name w-active">Срок</span>
            <input type="text" class="w-input w-term" value="3 месяца"/>
            <input type="range" min="3" max="36" value="3" class="w-slider w-term" id="myRange"/>
            <div class="w-term w-slider-active-portion"></div>
        </div>
        <div class="w-field-wrap w-sum">
            <span class="w-field-name w-active">Сумма, ₽</span>
            <input type="text" class="w-input w-sum" value="10 000"/>
            <input type="range" min="1" max="50000" value="1" class="w-slider w-sum" id="myRange"/>
            <div class="w-sum w-slider-active-portion"></div>
        </div>
        <div class="w-field-wrap">
            <span class="w-field-name">Фамилия*</span>
            <input type="text" class="w-input w-lastname"/>
        </div>
        <div class="w-field-wrap">
            <span class="w-field-name">Имя*</span>
            <input type="text" class="w-input w-1stname"/>
        </div>
        <div class="w-field-wrap">
            <span class="w-field-name">Отчество</span>
            <input type="text" class="w-input w-2ndname"/>
        </div>
        <div class="w-field-wrap">
            <span class="w-field-name w-active">ИНН*</span>
            <input type="text" class="w-input w-inn"/>
        </div>

        <div class="w-field-wrap">
            <span class="w-field-name w-active">Телефон*</span>
            <input type="text" class="w-input w-phone" value="+"/>
        </div>
        <div class="w-field-wrap">
            <span class="w-field-name">Электронная почта*</span>
            <input type="text" class="w-input w-email"/>
        </div>
    </div>

    <div class="w-agreement-wrap"></div>

    <button class="w-submit disabled" type="button">Отправить</button>
</div>
